:root {
    /* Cores: */
    --background:       #0F172A;
    --cards:            #1E293B;
    --destaque:         #2563EB;
    --hover:            #3B82F6;
    --texto-secundario: #94A3B8;
    --texto-principal:  #F8FAFC;


    /* Fontes */
    --titulo: "Poppins";
    --textos: "Inter";


    /* Números: */
    --headerHeight: 220px;
    --footerHeight: 80px;
    --mainHeight: calc(-(var(--headerHeight) + var(--footerHeight)) + 100%);
}

.bg-padrao        { background-color: var(--background) !important; }
.bg-cards         { background-color: var(--cards) !important;      }
.bg-destaque      { background-color: var(--destaque) !important;   }
.hover:hover      { background-color: var(--hover) !important;      }
.texto-secundario { color: var(--texto-secundario) !important;      }
.texto-principal  { color: var(--texto-principal) !important;       }

.h-nav            { height: var(--headerHeight) !important;         }
.h-img            { width: var(--headerHeight) !important;          }
.h-body           { height: 100vh;                                  }
.h-main           { height: var(--mainHeight);                      }
.h-footer         { height: var(--footerHeight) !important;         }
.min-h            { min-height: fit-content;                        }

.bd-color         { border-color:var(--texto-secundario) !important;}

.titulo           { font-family: var(--titulo) !important;          }
.textos           { font-family: var(--textos) !important;          }

.link             { text-decoration: none !important;               }
.status           { min-width: 80px !important;                     }
